.Header{
    display: flex;
    justify-content: space-between;
    
    background-color: black;
    padding : 15px;
    
    padding-left: 30px;
    padding-right: 30px;
}


.appLogo {
    height: 40px;
    background: #ff7f7f;
 }
 
 .appLogo:hover{
    /* animation: app-logo-spin infinite .15s linear; */
    animation: app-logo-spin 2 .3s linear;
    background-color: orange;
 }

 @keyframes app-logo-spin {
    /* from { transform:  rotate(-180deg); }
    to {transform: rotate(180deg);} */

    from{transform: scaleX(1) scaleY(1) rotate(-180deg);}
    to{transform: scaleX(1.05) scaleY(1.05) rotate(180deg);}

    /*scaleX(-1) scaleY(-1)*/
 }

.loginModal{
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   background-color: rgb(255, 250, 241);
   box-shadow: 2px 5px 5px lightgray;
   padding: 20px;
   outline: 0;
}

.log3inModal{
   width: auto;
   height: auto;
   outline: 0;
   margin:0 auto;
   display:table;
   position: relative;
   left: 0;
   right:0;
   top: 20%;
   padding: 20px;

   background-color: rgb(255, 250, 241);
   box-shadow: 2px 5px 5px lightgray;
   /* transform: translate(-50%, -50%); */
   /* border-color: white; */
   /* border:1px solid; */
   /* text-align: right; */
   /* -webkit-transform:translateY(-50%);
   -moz-transform:translateY(-50%);
   -ms-transform:translateY(-50%);
   -o-transform:translateY(-50%);
   transform:translateY(-50%); */
}


.form{
   display: flex;
   flex-direction: column;
   align-content: center;
   text-align: center;
   justify-content: center;
   
}

.formContents{
   
   margin-left: 0px;
   margin-right: 0px;

}

.submitBtn{
   width: 50%;
   align-self: center;
}


.displayNone{
   display: none;
}

.displayText{
   display: inline;
}